@page "/fountain"

@using Simple_CSharp_Games.Games

@layout GameLayout

<PageTitle>@GameTitle</PageTitle>

<div class="fountain-game-page">

	@if (showIntro)
	{
		<div class="hero-section">
			<div class="hero-section-content">
				<img 
				class="hero-section-image"
					 src="/images/fountain/fountain_hero.png"
					 alt="Fountain of Objects HeroImage" 
				/>
				<div class="hero-section-text">
					<p>	@GameDescription </p>
					<p>	@GameDescription2 </p>
					<p>	@GameDescription3 </p>
					<p>	@GameDescription4 </p>
					<button class="btn btn-primary" @onclick="ShowGame">Play Game</button>
				</div>
			</div>
		</div>
	}
	@if (!showIntro)
	{
		<FountainGame />
	}

</div>

@code {
	bool showIntro = true;

	string GameTitle = "The Fountain of Objects";

	private string GameDescription = "You stand at the threshold of the forgotten caverns.";
	private string GameDescription2 = "Darkness swallows every step as you search the unseen halls.";
	private string GameDescription3 = "Somewhere deep within, the Fountain of Objects awaits discovery.";
	private string GameDescription4 = "Activate its power... and find your way back before the darkness finds you.";


	private void ShowGame()
	{
		showIntro = false;
	}
}
