@page "/manticore"

@using Simple_CSharp_Games.Games

@layout GameLayout

<PageTitle>Hunting the Manticore</PageTitle>

<div class="manticore-game-page">

	@if (showHero)
	{
		<div class="hero-section">
			<div class="hero-section-content">
				<img class="hero-section-image" src="/images/manticore/hero_image.png" alt="Manticore Hero Image" />
				<div class="hero-section-text">
					<p>	@GameDescription1 </p>
					<p>	@GameDescription2 </p>
					<p>	@GameDescription3 </p>
					<p>	@GameDescription4 </p>
					<button class="btn btn-primary" @onclick="ShowIntro">Play Game</button>
				</div>
			</div>
		</div>
	}
	@if (!showHero)
	{
		<ManticoreGame />
	}

</div>

@code {

	private bool showHero = true;



	private string GameDescription1 = "Hunting the Manticore is a solo game to defend your city from an airborne assault.";
	private string GameDescription2 = "Each round, guess the ship’s distance and fire a shot from your enchanted cannon.";
	private string GameDescription3 = "After firing, you’ll be told if your shot fell short, went long, or hit its target.";
	private string GameDescription4 = "Each turn the Manticore survives, it strikes the city for 1 point of damage.";


	private void ShowIntro()
	{
		showHero = false;
	}
	

}
