@page "/manticore"

@using Simple_CSharp_Games.Games

@layout GameLayout

<PageTitle>Hunting the Manticore</PageTitle>

<div class="manticore-game-page">

	@if (showHero)
	{
		<div class="hero-section">
			<div class="hero-section-content">
				<img class="hero-section-image" src="/images/manticore/hero_image.png" alt="Manticore Hero Image" />
				<div class="hero-section-text">
					<p>	@GameDescription1 </p>
					<p>	@GameDescription2 </p>
					<p>	@GameDescription3 </p>
					<p>	@GameDescription4 </p>
					<button class="btn btn-primary" @onclick="ShowIntro">Play Game</button>
				</div>
			</div>
		</div>
	}
	@if (!showHero)
	{
		<ManticoreGame />
	}

</div>

@code {

	private bool showHero = true;



	private string GameDescription1 = "Defend your city from the Manticore’s airborne assault.";
	private string GameDescription2 = "Guess its distance and fire your enchanted cannon.";
	private string GameDescription3 = "After each shot, you’ll learn if it fell short, long, or hit.";
	private string GameDescription4 = "Each turn it survives, the Manticore damages the city.";



	private void ShowIntro()
	{
		showHero = false;
	}
	

}
