@page "/tictactoe"

@using Simple_CSharp_Games.Games

@layout GameLayout

<PageTitle>@GameTitle</PageTitle>

<div class="tictactoe-page-container">

	@if (!showGame)
	{
		<div class="tictactoe-intro">
			<div class="tictactoe-page-content">
				<img 
				class="tictactoe-page-image" 
				src="/images/tictactoe/tictactoe_intro.png" 
				alt="Tic Tac Toe Intro" />
				<div class="tictactoe-page-text">
					<p>@GameDescription1</p>
					<p>@GameDescription2</p>
					<p>@GameDescription3</p>
					<button class="btn btn-primary" @onclick="ShowGame">Play Tic Tac Toe</button>
				</div>
			</div>
		</div>
	}
	@if (showGame)
	{
		@* implement TicTacToeGame component here *@
		<TicTacToe />
	}

</div>


@code {

	private bool showGame = false;

	// Game description or instructions for Tic Tac Toe here
	private string GameTitle = "Tic Tac Toe";
	private string GameDescription1 = "Tic Tac Toe is a classic two-player game where players take turns marking open squares on a 3x3 grid.";
	private string GameDescription2 = "Player 1 will be 'X' and player 2 will be 'O' when making their marks for their turn.";
	private string GameDescription3 = "The first player to get three of their marks in a row, column, or diagonal wins the game.";


	private void ShowGame()
	{
		showGame = true;
	}


}
