<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Simple_CSharp_Games</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3 d-flex align-items-center">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <div><i class="bi  bi-info-square-fill" aria-hidden="true"></i></div>
                <span> About </span>
            </NavLink>
        </div>
        <div class="nav-item px-3 d-flex align-items-center">
            <NavLink class="nav-link" href="expetispage">
                <div><i class="bi bi-dice-1-fill" aria-hidden="true"></i></div>
                <span> Expeti's Game</span>
            </NavLink>
        </div>
        <div class="nav-item px-3 d-flex align-items-center">
            <NavLink class="nav-link" href="tictactoe">
                <div><i class="bi bi-dice-2-fill" aria-hidden="true"></i></div>
                <span> Tic Tac Toe</span>
            </NavLink>
        </div>
        <div class="nav-item px-3 d-flex align-items-center">
            <NavLink class="nav-link" href="manticore">
                <div><i class="bi bi-dice-3-fill" aria-hidden="true"></i></div>
                <span> Hunting the Manticore </span>
            </NavLink>
        </div>
        <div class="nav-item px-3 d-flex align-items-center">
            <NavLink class="nav-link" href="fountain">
                <div><i class="bi bi-dice-4-fill" aria-hidden="true"></i></div>
                <span > The Fountain of Objects </span>
            </NavLink>
        </div>
        <div class="nav-item px-3 d-flex align-items-center">
            <NavLink class="nav-link" href="finalbattle">
                <div><i class="bi bi-dice-5-fill" aria-hidden="true"></i></div>
                <span>The Final Battle</span>
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
