<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Simple_CSharp_Games</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> About
            </NavLink>
        </div>
        <div class="nav-item px-3 d-flex align-items-center">
            <NavLink class="nav-link" href="expetispage">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Expeti's Game
            </NavLink>
        </div>
        <div class="nav-item px-3 d-flex align-items-center">
            <NavLink class="nav-link" href="tictactoe">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Tic Tac Toe
            </NavLink>
        </div>
        <div class="nav-item px-3 d-flex align-items-center">
            <NavLink 
                class="nav-link"
                     href="manticore">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Hunting the Manticore
            </NavLink>
        </div>
        <div class="nav-item px-3 d-flex align-items-center">
            <NavLink class="nav-link"
                     href="fountain">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>The Fountain of Objects
            </NavLink>
        </div>
        <div class="nav-item px-3 d-flex align-items-center">
            <NavLink class="nav-link"
                     href="finalbattle">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>The Final Battle
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
