.finalbattle-game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: white;
    font-size: 1.25rem;

    background-image: url('/images/battle/battle_background.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.battle-avatar-image {
    max-height: 200px;
    width: auto;
    margin: .5rem;
}


.battle-parties-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin-bottom: .5rem;
}

.battle-winner-container,
.hero-actionChoice-container,
.battle-messages-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-input-container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.hero-controls-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#actionChoiceInput {
    width: 100px;
    margin-bottom: .5rem;
    padding: .5rem;
}